.header {
    max-width: 1184px;
    min-width: 288px;
    padding-top: 28px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        /* padding-right: 48px;
        padding-left: 48px; */
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        /* padding-right: 24px;
        padding-left: 24px; */
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        /* padding: 16px 16px 0 16px; */
        padding-top: 16px;
    }
}