.cover {
    /* min-width: 320px;
    max-width: 1184px; */
    min-height: 740px;
    margin: 0 auto;
    margin-top: 92px;
    aspect-ratio: 1/0, 625;
}




@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        /* max-width: 320px; */
        margin-top: 66px;
        min-height: 200px;
    }
}